* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
}

ul li a {
    text-decoration: none;
    color: blue;

}

ul {
    list-style-type: none; 
    text-align: center;
}

h1, h2, h3 {
    color: brown;
    text-align: center;
}

.main {
    border: 5px solid purple;
    padding: 15px;
    
}

ol {
    padding: 12px;
}